@import url('./reset.scss');
@import url('./variables/global.scss');
@import url('./sections/header.scss');
@import url('./sections/gameEnter.scss');
@import url('./sections/gamePage.scss');
@import url('./sections/card.scss');
@import url('./sections/winModal.scss');

body {
    height: 100vh;
    position: relative;
}

section {
    height: var(--section-height);
    width: var(--section-width);
    margin-top: 3vh;
}

button {
    box-shadow: 0 0 0 0 none;
    transition: .3s all;
}

button:hover {
    box-shadow: 0 0 0 2px var(--primary-color);
    cursor: pointer;
}
@import url('./themes/light.scss');
@import url('./themes/dark.scss');
@import url('./media/media.scss');