* {
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box; 
    color: var(--primary-color);
    background-color: var(--bg-color);
    font: var(--font-l);
    transition: .5s all;
}