
@media screen and (max-width: 768px) {
    .game-enter {
        &_header {
            font: var(--font-m);
        }

        &_button {
            font: var(--font-m)
        }
    }
    .card:hover{
        box-shadow: none;
        transform: none;
    }
    button:hover {
        box-shadow: none;
    }

    .game-page {
        &_record {
            font: var(--font-m)
        }
        &_back {
            height: 4vh;
            top: 3vh;
        }
    }

    .win-modal {
        &_wrapper {
            width: 70vw;
        }
        &-close {
            width: 38vw;
        }
        &_new-record {
            font: var(--font-l);
        }
    }
}